In [33]:
import pandas as pd
import os
import numpy as np

In [15]:
filename1 = 'C:/Users\wwod\Desktop\GD\胜利-软件测试\数据\测试数据/test_data/inf1.xlsx'
pathname = 'C:/Users\wwod\Desktop\GD\胜利-软件测试\数据\测试数据/test_data'

In [41]:
df1 = pd.read_excel(filename1,sheet_name = 'Sheet1', header=0)

In [50]:
df1['name'].tolist()

['t73',
 't79',
 't120',
 't121',
 't122',
 't124',
 't128',
 't149',
 't158',
 't764',
 't765',
 't767',
 'ts74']

In [22]:
print(df1)

    name  inline  xline  start  stop
0    t73    1619   1213    770  1310
1    t79    1619   1213    770  1310
2   t120    1326   1332   1404  2354
3   t121    1611   1334   1448  1888
4   t122    1353   1331   1745  2362
5   t124    1500   1308    947  2232
6   t128    1665   1305    883  2144
7   t149    1787   1049    217   314
8   t158    1756   1268    304   994
9   t764    1485   1205   1769  2169
10  t765    1526   1154   1559  2362
11  t767    1599   1184   1081  1956
12  ts74    1368   1079    477   803

In [19]:
os.listdir(pathname)

['inf1.xlsx',
 't120',
 't121',
 't122',
 't124',
 't128',
 't149',
 't158',
 't73',
 't764',
 't765',
 't767',
 't79',
 'temp.h5',
 'test.Sgy',
 'ts74',
 '~$inf1.xlsx']